@import "tailwindcss";

/* index.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}


.marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  gap: 4rem;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

.marquee-logo {
  height: 32px;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.marquee-logo:hover {
  opacity: 1;
}

/* Responsive */
@media (max-width: 640px) {
  .marquee-logo {
    height: 24px;
  }
}

/* Animation */
@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
